.container {
  background: url('https://raw.communitydragon.org/latest/game/assets/loadingscreen/tutorial_module_1_background.png');

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.searchbox {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
}
