.header {
  height: 150px;

  img {
    height: 100%;
    width: auto;
    border-radius: 10%;
  }
}

.m-header {
  height: 100px;

  img {
    height: 100%;
    width: auto;
    border-radius: 10%;
  }
}

.champion {
  height: 60px;
  img {
    height: 100%;
    width: auto;
    border-radius: 10%;
  }
}
